{% extends 'adminpage.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">FEEDBACKS</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>sl No.</th>
                          <th>DATE</th>
                          <th>TIME</th>
                          <th>FEEDBACK</th>
                          <th>REPLY</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td>{{ i.date }}</td>
                          <td>{{ i.time }}</td>
                          <td>{{ i.feedback }}</td>
                          <td>{% if i.reply == None %}
                            <a href="{% url 'admin_replay' i.id %}">Reply Now</a>
                            {% else %}
                            {{i.reply}}
                            {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}